QPushButton {{
  color: {QTMATERIAL_SECONDARYCOLOR};
  text-transform: none;
  background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

.big_button {{
  height: 64px;
}}

QLabel {{
  color: #ffd740;
  text-transform: green;
  font-family: "Monaco";
  font-size: 14px;
}}

QComboBox {{
    color: cyan;
    background: #31363b;
    font-family: "Monaco";
}}

.big_button {{
  height: 64px;
}}